@import "tailwindcss";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
    --color-primary: #ededed;
    --color-secondary: #0a0a0a;
    --color-tertiary: #2e2e2e;
}

[data-theme="dark"] {
    --color-primary: #0a0a0a;
    --color-secondary: #ededed;
}

body {
    background: var(--color-primary);
    color: var(--color-secondary);
    transition: background 0.3s, color 0.3s;
}
